<div class="container">
  <h2>Generated Mortgage</h2>

  <div class="column">
    <span> Mortgage value </span>
    <span> [{{ generatedMortgage?.amount }}] </span>
  </div>

  <div class="column">
    <span> Mortgage duration </span>
    <span> [{{ generatedMortgage?.years }}] </span>
  </div>

  <div class="column">
    <span> Fixation period </span>
    <span> [{{ generatedMortgage?.fixation }}] </span>
  </div>

  <div class="column">
    <span> Loan percentage </span>
    <span> [{{ generatedMortgage?.loanPercentage }}] </span>
  </div>
</div>
