<form class="mortgage-form" [formGroup]="mortgageForm" (ngSubmit)="onSubmit()">
  <h2>Requested Mortgage</h2>

  <div>
    <label for="amount"> Mortgage value </label>
    <input id="amount" type="text" formControlName="amount" />
  </div>

  <div>
    <label for="years"> Mortgage duration </label>
    <input id="years" type="text" formControlName="years" />
  </div>

  <div>
    <label for="fixation"> Fixation period </label>
    <input id="fixation" type="text" formControlName="fixation" />
  </div>

  <div>
    <label for="loanPercentage"> Loan percentage </label>
    <input id="loanPercentage" type="text" formControlName="loanPercentage" />
  </div>

  <h2>Make a tip for interest rate and repayment value</h2>
  <div>
    <label for="interestRate"> Interest rate tip </label>
    <input id="interestRate" type="text" formControlName="interestRate" />
  </div>

  <div>
    <label for="repayment"> Repayment tip </label>
    <input id="repayment" type="text" formControlName="repayment" />
  </div>

  <button type="submit">Calculate</button>
</form>
