<div class="calculation-container">
  <h2>Mortgage calculation</h2>
  <span>Total mortgage value: {{ calculation?.amount }} [czk] </span>
  <span>Fixation period: {{ calculation?.fixation }} [years] </span>
  <span
    >With loan percentage: {{ calculation?.loanPercentage }} [percentage]
  </span>
  <span>For total period: {{ calculation?.years }} [years] </span>
  <span>Interest rate: {{ calculation?.interestRate }} [percentage] </span>
  <span>Repayment: {{ calculation?.repayment }} [czk/month] </span>
</div>
