<form class="container" [formGroup]="mortgageForm" (ngSubmit)="handleSubmit()">
  <h2>Make a tip for interest rate and repayment value</h2>
  <div>
    <label for="interestRate"> Interest rate tip </label>
    <input id="interestRate" type="number" formControlName="interestRate" />
  </div>

  <div>
    <label for="repayment"> Repayment tip </label>
    <input id="repayment" type="number" formControlName="repayment" />
  </div>

  <button type="submit" [disabled]="!mortgageForm.valid">Calculate</button>
</form>
